.repo-short-info {
  display: flex;
  flex-direction: row;
  border: 1px solid lightblue;
  margin: 10px auto;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  color: #023b6d;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}
